* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
header {
  min-height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.jpg) */
  background-image: linear-gradient(
      rgba(208, 208, 208, 0.7),
      rgba(67, 51, 39, 0.7)
    ),
    url(images/banner3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}
body {
  color: #423527;
  overscroll-behavior-x: none;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
nav img {
  width: 40%;
}

.nav-links {
  flex: 1;
  text-align: right;
  font-size: 1rem;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #af9664;
  text-decoration: none;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #af9664;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  margin-top: 6rem;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 3rem;
  font-weight: 600;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 1.25rem;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid#fff;
  padding: 12px 34px;
  font-size: 1.25rem;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid#af9664;
  background: #af9664;
  transition: 0.3s;
}

nav .fas {
  display: none;
}
@media (max-width: 880px) {
  .text-box h1 {
    font-size: 2rem;
  }
  .text-box p {
    font-size: 1rem;
  }
  .nav-links ul li {
    display: block;
    margin-bottom: 15px;
  }

  .nav-links {
    position: fixed;
    background: #423527;
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    transition: 0.2s;
    color: #af9664;
  }
  nav .fas {
    display: block;
    color: #af9664;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 25px;
  }
  .hero-btn:active {
    border: 1px solid#af9664;
    background: #af9664;
    transition: 0.01s;
  }
}

/*---------- CONTENT ----------*/

.content h1 {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 600;
}

.content p {
  color: #777;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 22px;
}

.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.content h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

@media (max-width: 880px) {
  .row {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .content p {
    margin-bottom: 40px;
  }
}

.content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.content-col {
  flex-basis: 32%;
  margin: 0 15px 2rem 15px;
  text-align: left;
}

.content-col img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 10px;
}

.content-col p {
  padding: 0;
}

.content-col h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  margin: auto;
}

/*---------- Find us ----------*/

.find-us {
  margin: 100px auto;
  width: 100%;
  background-image: linear-gradient(
      rgba(208, 208, 208, 0.7),
      rgba(67, 51, 39, 0.7)
    ),
    url(images/mapatlo2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.find-us h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 880px) {
  .cta h1 {
    font-size: 24px;
  }
}

/*---------- Footer ----------*/

footer {
  width: 100%;
  text-align: center;
  padding: 30px 0 0 0;
}

.footer-container {
  display: flex;
  background: #f6f4ed;
  width: 100%;
  justify-content: center;
}

footer h4 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.15rem;
}

.column {
  text-align: left;
  padding: 20px 100px 20px;
}

.column-list {
  list-style: none;
  display: inline-block;
}

.column-list a,
li {
  text-decoration: none;
  color: rgba(67, 51, 39, 0.7);
}

.fa,
.fa-brands {
  margin-bottom: 12px;
  margin-right: 12px;
  color: #423527;
}

.fa-brands {
  font-size: 2rem;
  cursor: pointer;
}

.footer-row {
  padding: 10px;
  margin: 0;
  background: #e1e0d9;
}

.google-map {
  border-radius: 10px;
}

@media (max-width: 900px) {
  .google-map {
    width: 250px;
    height: 250px;
  }
  .footer-container {
    flex-direction: column;
  }
  .column {
    text-align: center;
    padding: 0 0 30px 0;
  }
  .column-list {
    text-align: left;
  }
  .column li {
    margin-bottom: 8px;
  }
}

/* DANCE CLASSES */
.dance-class-container {
  width: auto;
  color: #fff;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 2% 2% 2% 2%;
}

.dance-class-container h1 {
  text-shadow: 5px 3px rgba(201, 201, 201, 0.628);
  font-size: 4rem;
  font-weight: 600;
}

.dance-class-container h3 {
  text-shadow: 3px 2px rgba(201, 201, 201, 0.628);
}

.dance-class-container p {
  margin: 10px 0 40px;
  font-size: 1.25rem;
  color: #fff;
}

.classes .subheader {
  margin: auto;
  text-align: center;
  font-size: 3rem;
  text-shadow: 5px 3px rgba(71, 71, 71, 0.628);
}

.dance {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f6f4ed' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
.fitness{
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23f6f4ed' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.prozdrowotne{
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f6f4ed' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.right {
  text-align: right;
}

.hiphop {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.41),
      rgba(208, 208, 208, 0.7)
    ),
    url(images/hiphop.jpg);
    
}



.salsa {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.451),
      rgba(208, 208, 208, 0.7)
    ),
    url(images/salsa.jpg);
}

.zumba {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.451),
      rgba(208, 208, 208, 0.7)
    ),
    url(images/zumba.jpg);
}
.salsation {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.451),
      rgba(208, 208, 208, 0.7)
    ),
    url(images/salsation.jpg);
}

.dancefusion {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.507),
      rgba(208, 208, 208, 0.802)
    ),
    url(images/dancefusion.jpg);
}

.bup {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.507),
      rgba(208, 208, 208, 0.802)
    ),
    url(images/bup.jpg);
}

.shape {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.345),
      rgba(208, 208, 208, 0.802)
    ),
    url(images/shape.jpg);
}
.fizjotrening {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.345),
      rgba(208, 208, 208, 0.802)
    ),
    url(images/fizjotrening.jpg);
}

.latinsolo {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.345),
      rgba(208, 208, 208, 0.802)
    ),
    url(images/latinsolo.jpg);
}

.towarzyski {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.345),
      rgba(208, 208, 208, 0.802)
    ),
    url(images/towarzyski.jpg);
}

.reggaeton {
  background-image: linear-gradient(
      rgba(67, 51, 39, 0.345),
      rgba(208, 208, 208, 0.802)
    ),
    url(images/reggaeton.jpg);
}
