* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}

html,
body {
  overflow-x: hidden;
}
header {
  min-height: 100vh;
  width: 100%;
  /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.jpg) */
  background-image: linear-gradient(
      rgba(208, 208, 208, 0.7),
      rgba(67, 51, 39, 0.7)
    ),
    url(../images/banner3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}
body {
  color: #423527;
  overscroll-behavior-x: none;
  min-height: 100vh;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
nav img {
  width: 30%;
}

.nav-links {
  flex: 1;
  text-align: right;
  font-size: 1.2rem;
  width: 60%;
  margin-left: 40px;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #af9664;
  text-decoration: none;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #af9664;
  display: block;
  margin: auto;
  transition: 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  margin-top: 6rem;
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 3rem;
  font-weight: 600;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 1.25rem;
  color: #fff;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid#fff;
  padding: 12px 34px;
  font-size: 1.25rem;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid#af9664;
  background: #af9664;
  transition: 0.3s;
}

nav .fas {
  display: none;
}
@media (max-width: 1180px) {
  .text-box h1 {
    font-size: 2rem;
  }
  .text-box p {
    font-size: 1rem;
  }
  .nav-links ul li {
    display: block;
    margin-bottom: 15px;
  }

  .nav-links {
    position: fixed;
    background: #423527;
    height: 100%;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    transition: 0.2s;
    color: #af9664;
  }
  nav .fas {
    display: block;
    color: #af9664;
    margin: 10px;
    font-size: 33px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 25px;
  }
  .hero-btn:active {
    border: 1px solid#af9664;
    background: #af9664;
    transition: 0.01s;
  }
  nav img {
    width: 40%;
  }
}

@media (min-width: 2000px) {
  nav img {
    width: 20%;
  }

  .nav-links {
    font-size: 1.5rem;
  }
}

/*---------- CONTENT ----------*/

.content h1 {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 600;
}

.content p {
  color: #777;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 22px;
}

.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.content h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

@media (max-width: 880px) {
  .row {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .content p {
    margin-bottom: 40px;
  }
}

.content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.content-col {
  flex-basis: 32%;
  margin: 0 15px 2rem 15px;
  text-align: left;
}

.content-col img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 10px;
}

.content-col p {
  padding: 0;
}

.content-col h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  margin: auto;
}

.rooms h3 {
  text-align: center;
}
/*---------- Find us ----------*/

.find-us {
  margin: 100px auto;
  width: 100%;
  background-image: linear-gradient(
      rgba(208, 208, 208, 0.7),
      rgba(67, 51, 39, 0.7)
    ),
    url(../images/mapatlo2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.find-us h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 880px) {
  .cta h1 {
    font-size: 24px;
  }
}

/*---------- Footer ----------*/

footer {
  width: 100%;
  text-align: center;
  padding: 30px 0 0 0;
}

.footer-container {
  display: flex;
  background: #f6f4ed;
  width: 100%;
  justify-content: center;
}

footer h4 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.15rem;
}

.column {
  text-align: left;
  padding: 20px 100px 20px;
}

.column-list {
  list-style: none;
  display: inline-block;
}

.column-list a,
li {
  text-decoration: none;
  color: rgba(67, 51, 39, 0.7);
}

.fa,
.fa-brands {
  margin-bottom: 12px;
  margin-right: 12px;
  color: #423527;
}

.fa-brands {
  font-size: 2rem;
  cursor: pointer;
}

.footer-row {
  padding: 10px;
  margin: 0;
  background: #e1e0d9;
}

.google-map {
  border-radius: 10px;
}

@media (max-width: 900px) {
  .google-map {
    width: 250px;
    height: 250px;
  }
  .footer-container {
    flex-direction: column;
  }
  .column {
    text-align: center;
    padding: 0 0 30px 0;
  }
  .column-list {
    text-align: left;
  }
  .column li {
    margin-bottom: 8px;
  }
}

.dance-block {
  background-color: rgba(200, 171, 131, 1);
}
.fitness-block {
  background-color: #feecd4;
}

.prozdrowotne-block {
  background-color: #dcb993;
}







